// VARIABLES
$background: #0f1020;
$text-color: #fffc31;
$purple: #613dc1;
$light-green: #5ef38c;
$light-grey: #e0e2db;
$green: #5ef38c;
$pink: #bf1363;
$blue: #0e79b2;
$old-green: #5fad41;

// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "dseg7";
  src: url("fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2") format("woff2"),
    url("fonts/DSEG7-Classic/DSEG7Classic-Bold.woff") format("woff");
}

// CONFIG
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CONTENT
.content {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  color: $text-color;
  color: $old-green;
  font-family: "IBM Plex Mono", monospace;
  overflow: auto;
}

// HEADER
header.header-wrapper {
  width: 100%;
  min-width: min-content;
  display: flex;
  justify-content: space-between;
}

.heading {
  height: 132px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  h1 {
    font-size: 80px;
  }
  .weather-h {
    padding-left: 10px;
    color: $blue;
    font-weight: 200;
    font-family: "IBM Plex Mono";
    text-shadow: 2px -5px 3px $blue;
  }
  .app-h {
    padding-right: 20px;
    color: $pink;
    font-family: "IBM Plex Mono", monospace;
    font-style: italic;
    text-shadow: 5px 1px $blue;
    border-right: double 7px transparentize($pink, 0.3);
    border-top: double 7px transparentize($pink, 0.3);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 120px;
  }
}

.clock-wrapper {
  position: relative;
  margin: 25px;
  border-radius: 10px;
  border: solid 1px transparentize($color: $old-green, $amount: 0.92);
  font-family: "dseg7";
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    transparentize($old-green, 0.8),
    transparentize($old-green, 0.9) 1px,
    transparentize($old-green, 0.98) 4px,
    transparentize($old-green, 0.9) 7px,
    transparentize($old-green, 0.8) 8px
  );
  box-shadow: -30px 120px 70px transparentize($color: $old-green, $amount: 0.92);
  .clock {
    position: relative;
    margin: 10px 20px;
    font-size: 80px;
    &::before {
      content: "88:88:88";
      position: absolute;
      width: inherit;
      height: inherit;
      color: transparentize($color: #777, $amount: 0.9);
    }
    &::after {
      padding: 10px 20px;
      content: attr(data-value);
      position: absolute;
      width: inherit;
      height: inherit;
      left: -32px;
      top: 85px;
      transform: scale(1, -1) skew(25deg) scaleY(0.6);
      border-radius: 10px;
      color: transparent;
      text-shadow: 0 0 4px transparentize($old-green, 0.75);
      background: repeating-linear-gradient(
        transparentize($old-green, 0.94),
        transparentize($old-green, 0.97) 1px,
        transparentize($old-green, 0.99) 4px,
        transparentize($old-green, 0.97) 7px,
        transparentize($old-green, 0.94) 8px
      );
    }
  }
  .second-hand {
    position: absolute;
    margin: auto;
    top: 0;
    background: transparentize($color: $old-green, $amount: 0.92);
    height: 1px;
    width: 100%;
    box-shadow: 0 0 3px transparentize($color: $old-green, $amount: 0.92);
    animation: second-hand-movement 2.5s linear infinite;
  }
  .minute-hand {
    position: absolute;
    margin: auto;
    top: 0;
    background: transparentize($color: $old-green, $amount: 0.92);
    height: 100%;
    width: 1px;
    box-shadow: 0 0 3px transparentize($color: $old-green, $amount: 0.92);
    animation: minute-hand-movement 3s linear infinite;
  }
}

@keyframes second-hand-movement {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes minute-hand-movement {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

// MAIN CONTENT
.main-wrapper {
  margin-top: 100px;
  padding-bottom: 20px;
}

// WEATHER QUERY
.weather-query-wrapper {
  width: 100%;
  margin: 20px auto;
}
form.location {
  height: 360px;
  margin: 10px auto;
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px transparentize($color: $old-green, $amount: 0.9);
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    transparentize($old-green, 0.96),
    transparentize($old-green, 0.98) 1px,
    transparentize($old-green, 0.99) 4px,
    transparentize($old-green, 0.98) 7px,
    transparentize($old-green, 0.96) 8px
  );
  transition: height 0.1s ease-in-out;
  & > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & > * {
      padding: 5px;
    }
  }
  .search-minimalize-toggle {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    width: 120px;
    margin: 5px auto;
    border-radius: 10px;
    border: solid 1px transparentize($color: $old-green, $amount: 0.7);
    background: repeating-linear-gradient(
      transparentize($old-green, 0.94),
      transparentize($old-green, 0.97) 1px,
      transparentize($old-green, 0.99) 4px,
      transparentize($old-green, 0.97) 7px,
      transparentize($old-green, 0.94) 8px
    );
    font-size: 18px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 3px $old-green;
      background: repeating-linear-gradient(
        transparentize($old-green, 0.9),
        transparentize($old-green, 0.95) 1px,
        transparentize($old-green, 0.97) 4px,
        transparentize($old-green, 0.95) 7px,
        transparentize($old-green, 0.9) 8px
      );
    }
  }
  .api-key-wrapper {
    p {
      max-width: 80%;
      text-align: center;
      font-size: 12px;
      a {
        color: $pink;
      }
    }
  }
  #location-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 1px transparentize($color: $old-green, $amount: 0.7);
    background: repeating-linear-gradient(
      transparentize($old-green, 0.94),
      transparentize($old-green, 0.97) 1px,
      transparentize($old-green, 0.99) 4px,
      transparentize($old-green, 0.97) 7px,
      transparentize($old-green, 0.94) 8px
    );
    font-size: 18px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 3px $old-green;
      background: repeating-linear-gradient(
        transparentize($old-green, 0.9),
        transparentize($old-green, 0.95) 1px,
        transparentize($old-green, 0.97) 4px,
        transparentize($old-green, 0.95) 7px,
        transparentize($old-green, 0.9) 8px
      );
    }
  }
  input {
    width: 240px;
    background: transparentize($color: $old-green, $amount: 0.8);
    color: lighten($color: $blue, $amount: 10);
    font-size: 14px;
    border: solid 1px transparentize($color: $old-green, $amount: 0.5);
    border-radius: 20px;
    padding-left: 10px;
    &:focus-visible {
      outline: none;
    }
  }
}
form.minimalized {
  height: 48px;
  overflow: hidden;
  & > * {
    display: none !important;
  }
  .search-minimalize-toggle {
    display: flex !important;
  }
}

// WEATHER RESULTS
.results-wrapper {
  position: relative;
  margin: 10px auto;
  padding: 1px;
  display: flex;
  width: max-content;
  max-width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px transparentize($color: $old-green, $amount: 0.9);
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    transparentize($old-green, 0.96),
    transparentize($old-green, 0.98) 1px,
    transparentize($old-green, 0.99) 4px,
    transparentize($old-green, 0.98) 7px,
    transparentize($old-green, 0.96) 8px
  );
  overflow: hidden;
  .results-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 10px;
    top: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    background: transparentize($color: $background, $amount: 0.15);
    box-shadow: 2px 2px 1px transparentize($color: $background, $amount: 0.4);
    & > div {
      margin: 5px;
      padding: 5px 20px;
      text-align: center;
    }
    .title {
      width: 100%;
      font-size: 24px;
      border-bottom: solid 1px transparentize($color: $green, $amount: 0.5);
    }
  }
  .results-error {
    position: absolute;
    padding: 10px;
    top: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    background: transparentize($color: $background, $amount: 0.15);
    box-shadow: 2px 2px 1px transparentize($color: $background, $amount: 0.4);
  }
  .results-bg-img {
    margin: auto;
    border-radius: 10px;
  }
}

// RESPONSIVE STYLES
@media (max-width: 1200px) {
  header.header-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  form.location {
    height: auto;
  }
}
